#font-size{ font: 25px/1.5 Arial;}
.font-size{font: 30px/1.5 Arial;}

a[href^="http"]  { color: red; }
a[href$="oo.se"]{color:green;}
a[href*="blo"]{color:blue;}
a[href="index.html"]{color: aquamarine;}

/*
h1{background-color: gray;}
body p{background-color: red;}
div>p{background-color: green;}
div~p{background-color: yellow;}
div+p{background-color: pink;}

li{list-style-type: lower-alpha;  }


a {
    text-decoration: none ;
}