#font-size{ font-size: 25px;}
.font-size{font-size: 30px;}

a[href^="http"]  { color: red; }
a[href$="oo.se"]{color:green;}
a[href*="msn"]{color:blue;}

h1{background-color: gray;}
body p{background-color: red;}
div>p{background-color: green;}
div~p{background-color: yellow;}
div+p{background-color: pink;}

li{list-style-type: none;  }

a {
    text-decoration: none ;
}